# General EDA with the Google Play Store Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("../googleplaystoremaster.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [3]:
df.shape

(10841, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [5]:
pd.unique(df['Category'])

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [6]:
pd.unique(df['Content Rating'])

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

In [7]:
pd.unique(df['Genres'])

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'February 11, 2018', 'Strategy;Creativity'], dtype=object)

In [8]:
df.describe()

# the max here of 19 is alarming! 
# if the scale is 1-5, this must be a mistake and is likely throwing off our other descriptive statistics
# also this shows me that Rating is the only category that we have as numerical

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [9]:
pd.unique(df.duplicated())

array([False,  True])

In [10]:
df.drop_duplicates(inplace = True)

In [11]:
df.duplicated().any()

False

In [12]:
# reset the index after dropping duplicates so the values line up with the positions
df = df.reset_index(drop=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10358 entries, 0 to 10357
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10358 non-null  object
 1   Category        10358 non-null  object
 2   Rating          8893 non-null   float64
 3   Reviews         10358 non-null  object
 4   Size            10358 non-null  object
 5   Installs        10358 non-null  object
 6   Type            10357 non-null  object
 7   Price           10358 non-null  object
 8   Content Rating  10357 non-null  object
 9   Genres          10358 non-null  object
 10  Last Updated    10358 non-null  object
 11  Current Ver     10350 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

In [43]:
pd.unique(df['Reviews'])

array([   159,    967,  87510, ...,    603,   1195, 398307])

In [15]:
### JUST REALIZED THIS IS A COLUMN SHIFT AND ALL VALUES NEED TO BE MOVED ONE TO THE RIGHT. CAN I WRITE A FUNCTION? ###
### MAYBE I SHOULD JUST DROP IT?? ###
df[df['Reviews'] == '3.0M']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9990,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [16]:
df.loc[9990, ['Reviews']] = 3000000

In [17]:
df.loc[9990, ['Rating']] = 1.9
df.loc[[9990]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9990,Life Made WI-Fi Touchscreen Photo Frame,1.9,1.9,3000000,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [18]:
df.loc[9990, ['Category']] = 'PHOTOGRAPHY'
df.loc[[9990]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9990,Life Made WI-Fi Touchscreen Photo Frame,PHOTOGRAPHY,1.9,3000000,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [19]:
df[['Reviews']] = df[['Reviews']].astype(int)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10358 entries, 0 to 10357
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10358 non-null  object
 1   Category        10358 non-null  object
 2   Rating          8893 non-null   float64
 3   Reviews         10358 non-null  int32
 4   Size            10358 non-null  object
 5   Installs        10358 non-null  object
 6   Type            10357 non-null  object
 7   Price           10358 non-null  object
 8   Content Rating  10357 non-null  object
 9   Genres          10358 non-null  object
 10  Last Updated    10358 non-null  object
 11  Current Ver     10350 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1011.6+ KB

In [21]:
# inspect the number of NaN values in the data set
df.isnull().sum()

# looking pretty slick overall other than the ratings category
# Ratings category has ~10% of the values missing
# Are there a certain number of reviews necessary for ratings to initiate?

App                  0
Category             0
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [22]:
# any columns that are all NaN?
df.isnull().all()

App               False
Category          False
Rating            False
Reviews           False
Size              False
Installs          False
Type              False
Price             False
Content Rating    False
Genres            False
Last Updated      False
Current Ver       False
Android Ver       False
dtype: bool

In [23]:
# do we have any rows with all nan?
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
10353    False
10354    False
10355    False
10356    False
10357    False
Length: 10358, dtype: bool

In [24]:
# checking our previous list for any true values
df.isnull().all(axis=1).any()

False

In [25]:
df[df.isnull().any(axis=1)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
15,Learn To Draw Kawaii Characters,ART_AND_DESIGN,3.2,55,2.7M,"5,000+",Free,0,Everyone,Art & Design,"June 6, 2018",NaN,4.2 and up
23,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,"March 7, 2018",1.0.0,4.1 and up
113,Wrinkles and rejuvenation,BEAUTY,NaN,182,5.7M,"100,000+",Free,0,Everyone 10+,Beauty,"September 20, 2017",8.0,3.0 and up
123,Manicure - nail design,BEAUTY,NaN,119,3.7M,"50,000+",Free,0,Everyone,Beauty,"July 23, 2018",1.3,4.1 and up
126,Skin Care and Natural Beauty,BEAUTY,NaN,654,7.4M,"100,000+",Free,0,Teen,Beauty,"July 17, 2018",1.15,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10341,Cardio-FR,MEDICAL,NaN,67,82M,"10,000+",Free,0,Everyone,Medical,"July 31, 2018",2.2.2,4.4 and up
10342,Naruto & Boruto FR,SOCIAL,NaN,7,7.7M,100+,Free,0,Teen,Social,"February 2, 2018",1.0,4.0 and up
10348,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,"June 13, 2018",2.0.148.0,4.0 and up
10352,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
10355,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up

In [26]:
pd.unique(df['Price'])
# lol @ 'Everyone', I guess this one is free!?
# should change all of these to float types and removes the dollar sign

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [27]:
df['Type'].drop_duplicates().sort_values()

9990       0
0       Free
233     Paid
8667     NaN
Name: Type, dtype: object

In [28]:
df.iloc[[8667]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
8667,Command & Conquer: Rivals,FAMILY,NaN,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device

In [29]:
df[df['Type'] =='0']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9990,Life Made WI-Fi Touchscreen Photo Frame,PHOTOGRAPHY,1.9,3000000,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [30]:
pd.unique(df['Installs'])

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

In [31]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace(',', ''))

In [32]:
df['Size'].drop_duplicates().sort_values()

9990                1,000+
5314                  1.0M
87                    1.1M
43                    1.2M
2137                  1.3M
               ...
1463                   98M
9920                  992k
8402                  994k
1323                   99M
37      Varies with device
Name: Size, Length: 462, dtype: object

In [33]:
df['Rating'].drop_duplicates().sort_values()

559     1.0
9600    1.2
5549    1.4
6657    1.5
4450    1.6
3559    1.7
3709    1.8
471     1.9
3563    2.0
5451    2.1
3525    2.2
2129    2.3
3921    2.4
473     2.5
430     2.6
545     2.7
481     2.8
612     2.9
467     3.0
209     3.1
15      3.2
159     3.3
176     3.4
184     3.5
71      3.6
84      3.7
6       3.8
1       3.9
20      4.0
0       4.1
12      4.2
4       4.3
5       4.4
3       4.5
13      4.6
2       4.7
25      4.8
55      4.9
296     5.0
23      NaN
Name: Rating, dtype: float64

In [34]:
df.loc[[23]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
23,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,100000+,Free,0,Everyone,Art & Design;Action & Adventure,"March 7, 2018",1.0.0,4.1 and up

In [35]:
ent_df = df.loc[ df['Category'] == 'ENTERTAINMENT' , : ]
ent_df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
745,Netflix,ENTERTAINMENT,4.4,5456208,Varies with device,100000000+,Free,0,Teen,Entertainment,"July 31, 2018",Varies with device,Varies with device
746,Complete Spanish Movies,ENTERTAINMENT,4.0,11656,4.5M,1000000+,Free,0,Everyone,Entertainment,"January 20, 2018",1.02,4.0.3 and up
747,Pluto TV - It’s Free TV,ENTERTAINMENT,4.2,28948,Varies with device,1000000+,Free,0,Teen,Entertainment,"August 4, 2018",Varies with device,Varies with device
748,Tubi TV - Free Movies & TV,ENTERTAINMENT,4.3,296771,11M,10000000+,Free,0,Teen,Entertainment,"July 15, 2018",2.13.5,4.1 and up
749,YouTube Kids,ENTERTAINMENT,4.5,470089,Varies with device,50000000+,Free,0,Everyone,Entertainment;Music & Video,"August 3, 2018",3.43.3,4.1 and up

In [36]:
ent_content = ent_df.groupby('Content Rating').count()
ent_content

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Genres,Last Updated,Current Ver,Android Ver
Content Rating,,,,,,,,,,,,
Everyone,37,37,37,37,37,37,37,37,37,37,37,37
Everyone 10+,2,2,2,2,2,2,2,2,2,2,2,2
Mature 17+,6,6,6,6,6,6,6,6,6,6,6,6
Teen,66,66,66,66,66,66,66,66,66,66,66,66

In [37]:
pd.unique(ent_df['Content Rating'])

array(['Teen', 'Everyone', 'Mature 17+', 'Everyone 10+'], dtype=object)

In [38]:
ent_content = ent_content.iloc[:, 0]
ent_content

Content Rating
Everyone        37
Everyone 10+     2
Mature 17+       6
Teen            66
Name: App, dtype: int64

In [39]:
ent_content = pd.DataFrame(ent_content)
ent_content

                App
Content Rating
Everyone         37
Everyone 10+      2
Mature 17+        6
Teen             66

In [40]:
ent_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 745 to 855
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             111 non-null    object
 1   Category        111 non-null    object
 2   Rating          111 non-null    float64
 3   Reviews         111 non-null    int32
 4   Size            111 non-null    object
 5   Installs        111 non-null    object
 6   Type            111 non-null    object
 7   Price           111 non-null    object
 8   Content Rating  111 non-null    object
 9   Genres          111 non-null    object
 10  Last Updated    111 non-null    object
 11  Current Ver     111 non-null    object
 12  Android Ver     111 non-null    object
dtypes: float64(1), int32(1), object(11)
memory usage: 11.7+ KB

In [41]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

In [42]:
df.loc[df['Size'] == 'Varies with device', :]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,Varies with device,5000000+,Free,0,Everyone,Art & Design,"July 14, 2018",Varies with device,2.3.3 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,10000000+,Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
52,Used Cars and Trucks for Sale,AUTO_AND_VEHICLES,4.6,17057,Varies with device,1000000+,Free,0,Everyone,Auto & Vehicles,"July 30, 2018",Varies with device,Varies with device
67,Ulysse Speedometer,AUTO_AND_VEHICLES,4.3,40211,Varies with device,5000000+,Free,0,Everyone,Auto & Vehicles,"July 30, 2018",Varies with device,Varies with device
68,REPUVE,AUTO_AND_VEHICLES,3.9,356,Varies with device,100000+,Free,0,Everyone,Auto & Vehicles,"May 25, 2018",Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10231,My Earthquake Alerts - US & Worldwide Earthquakes,WEATHER,4.4,3471,Varies with device,100000+,Free,0,Everyone,Weather,"July 24, 2018",Varies with device,Varies with device
10243,Posta App,MAPS_AND_NAVIGATION,3.6,8,Varies with device,1000+,Free,0,Everyone,Maps & Navigation,"September 27, 2017",Varies with device,4.4 and up
10283,Chat For Strangers - Video Chat,SOCIAL,3.4,622,Varies with device,100000+,Free,0,Mature 17+,Social,"May 23, 2018",Varies with device,Varies with device
10343,Frim: get new friends on local chat rooms,SOCIAL,4.0,88486,Varies with device,5000000+,Free,0,Mature 17+,Social,"March 23, 2018",Varies with device,Varies with device
10356,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,1000+,Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device

In [42]:
df.loc[ df['Size'] == '1,000+' , : ]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9990,Life Made WI-Fi Touchscreen Photo Frame,PHOTOGRAPHY,1.9,3000000,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [43]:
df.drop(9990, inplace=True)

In [45]:
def new_size(x):
        if 'k' in x:
            return (float(x.replace('k', ''))) * 1000
        if 'M' in x:
            return (float(x.replace('M', ''))) * 1000000
    
df['Size'] = df['Size'].apply(new_size)

In [46]:
df['Size'].unique()

array([1.90e+07, 1.40e+07, 8.70e+06, 2.50e+07, 2.80e+06, 5.60e+06,
       2.90e+07, 3.30e+07, 3.10e+06, 2.80e+07, 1.20e+07, 2.00e+07,
       2.10e+07, 3.70e+07, 2.70e+06, 5.50e+06, 1.70e+07, 3.90e+07,
       3.10e+07, 4.20e+06, 7.00e+06, 2.30e+07, 6.00e+06, 6.10e+06,
       4.60e+06, 9.20e+06, 5.20e+06, 1.10e+07, 2.40e+07,      nan,
       9.40e+06, 1.50e+07, 1.00e+07, 1.20e+06, 2.60e+07, 8.00e+06,
       7.90e+06, 5.60e+07, 5.70e+07, 3.50e+07, 5.40e+07, 2.01e+05,
       3.60e+06, 5.70e+06, 8.60e+06, 2.40e+06, 2.70e+07, 2.50e+06,
       1.60e+07, 3.40e+06, 8.90e+06, 3.90e+06, 2.90e+06, 3.80e+07,
       3.20e+07, 5.40e+06, 1.80e+07, 1.10e+06, 2.20e+06, 4.50e+06,
       9.80e+06, 5.20e+07, 9.00e+06, 6.70e+06, 3.00e+07, 2.60e+06,
       7.10e+06, 3.70e+06, 2.20e+07, 7.40e+06, 6.40e+06, 3.20e+06,
       8.20e+06, 9.90e+06, 4.90e+06, 9.50e+06, 5.00e+06, 5.90e+06,
       1.30e+07, 7.30e+07, 6.80e+06, 3.50e+06, 4.00e+06, 2.30e+06,
       7.20e+06, 2.10e+06, 4.20e+07, 7.30e+06, 9.10e+06, 5.50e+07,
       2.30e+04, 6.50e+06, 1.50e+06, 7.50e+06, 5.10e+07, 4.10e+07,
       4.80e+07, 8.50e+06, 4.60e+07, 8.30e+06, 4.30e+06, 4.70e+06,
       3.30e+06, 4.00e+07, 7.80e+06, 8.80e+06, 6.60e+06, 5.10e+06,
       6.10e+07, 6.60e+07, 7.90e+04, 8.40e+06, 1.18e+05, 4.40e+07,
       6.95e+05, 1.60e+06, 6.20e+06, 1.80e+04, 5.30e+07, 1.40e+06,
       3.00e+06, 5.80e+06, 3.80e+06, 9.60e+06, 4.50e+07, 6.30e+07,
       4.90e+07, 7.70e+07, 4.40e+06, 4.80e+06, 7.00e+07, 6.90e+06,
       9.30e+06, 8.10e+06, 3.60e+07, 8.40e+07, 9.70e+07, 2.00e+06,
       1.90e+06, 1.80e+06, 5.30e+06, 4.70e+07, 5.56e+05, 5.26e+05,
       7.60e+07, 7.60e+06, 5.90e+07, 9.70e+06, 7.80e+07, 7.20e+07,
       4.30e+07, 7.70e+06, 6.30e+06, 3.34e+05, 3.40e+07, 9.30e+07,
       6.50e+07, 7.90e+07, 1.00e+08, 5.80e+07, 5.00e+07, 6.80e+07,
       6.40e+07, 6.70e+07, 6.00e+07, 9.40e+07, 2.32e+05, 9.90e+07,
       6.24e+05, 9.50e+07, 8.50e+03, 4.10e+04, 2.92e+05, 1.10e+04,
       8.00e+07, 1.70e+06, 7.40e+07, 6.20e+07, 6.90e+07, 7.50e+07,
       9.80e+07, 8.50e+07, 8.20e+07, 9.60e+07, 8.70e+07, 7.10e+07,
       8.60e+07, 9.10e+07, 8.10e+07, 9.20e+07, 8.30e+07, 8.80e+07,
       7.04e+05, 8.62e+05, 8.99e+05, 3.78e+05, 2.66e+05, 3.75e+05,
       1.30e+06, 9.75e+05, 9.80e+05, 4.10e+06, 8.90e+07, 6.96e+05,
       5.44e+05, 5.25e+05, 9.20e+05, 7.79e+05, 8.53e+05, 7.20e+05,
       7.13e+05, 7.72e+05, 3.18e+05, 5.80e+04, 2.41e+05, 1.96e+05,
       8.57e+05, 5.10e+04, 9.53e+05, 8.65e+05, 2.51e+05, 9.30e+05,
       5.40e+05, 3.13e+05, 7.46e+05, 2.03e+05, 2.60e+04, 3.14e+05,
       2.39e+05, 3.71e+05, 2.20e+05, 7.30e+05, 7.56e+05, 9.10e+04,
       2.93e+05, 1.70e+04, 7.40e+04, 1.40e+04, 3.17e+05, 7.80e+04,
       9.24e+05, 9.02e+05, 8.18e+05, 8.10e+04, 9.39e+05, 1.69e+05,
       4.50e+04, 4.75e+05, 9.65e+05, 9.00e+07, 5.45e+05, 6.10e+04,
       2.83e+05, 6.55e+05, 7.14e+05, 9.30e+04, 8.72e+05, 1.21e+05,
       3.22e+05, 1.00e+06, 9.76e+05, 1.72e+05, 2.38e+05, 5.49e+05,
       2.06e+05, 9.54e+05, 4.44e+05, 7.17e+05, 2.10e+05, 6.09e+05,
       3.08e+05, 7.05e+05, 3.06e+05, 9.04e+05, 4.73e+05, 1.75e+05,
       3.50e+05, 3.83e+05, 4.54e+05, 4.21e+05, 7.00e+04, 8.12e+05,
       4.42e+05, 8.42e+05, 4.17e+05, 4.12e+05, 4.59e+05, 4.78e+05,
       3.35e+05, 7.82e+05, 7.21e+05, 4.30e+05, 4.29e+05, 1.92e+05,
       2.00e+05, 4.60e+05, 7.28e+05, 4.96e+05, 8.16e+05, 4.14e+05,
       5.06e+05, 8.87e+05, 6.13e+05, 2.43e+05, 5.69e+05, 7.78e+05,
       6.83e+05, 5.92e+05, 3.19e+05, 1.86e+05, 8.40e+05, 6.47e+05,
       1.91e+05, 3.73e+05, 4.37e+05, 5.98e+05, 7.16e+05, 5.85e+05,
       9.82e+05, 2.22e+05, 2.19e+05, 5.50e+04, 9.48e+05, 3.23e+05,
       6.91e+05, 5.11e+05, 9.51e+05, 9.63e+05, 2.50e+04, 5.54e+05,
       3.51e+05, 2.70e+04, 8.20e+04, 2.08e+05, 9.13e+05, 5.14e+05,
       5.51e+05, 2.90e+04, 1.03e+05, 8.98e+05, 7.43e+05, 1.16e+05,
       1.53e+05, 2.09e+05, 3.53e+05, 4.99e+05, 1.73e+05, 5.97e+05,
       8.09e+05, 1.22e+05, 4.11e+05, 4.00e+05, 8.01e+05, 7.87e+05,
       2.37e+05, 5.00e+04, 6.43e+05, 9.86e+05, 9.70e+04, 5.16e+05,
       8.37e+05, 7.80e+05, 9.61e+05, 2.69e+05, 2.00e+04, 4.98e+05,
       6.00e+05, 7.49e+05, 6.42e+05, 8.81e+05, 7.20e+04, 6.56e+05,
       6.01e+05, 2.21e+05, 2.28e+05, 1.08e+05, 9.40e+05, 1.76e+05,
       3.30e+04, 6.63e+05, 3.40e+04, 9.42e+05, 2.59e+05, 1.64e+05,
       4.58e+05, 2.45e+05, 6.29e+05, 2.80e+04, 2.88e+05, 7.75e+05,
       7.85e+05, 6.36e+05, 9.16e+05, 9.94e+05, 3.09e+05, 4.85e+05,
       9.14e+05, 9.03e+05, 6.08e+05, 5.00e+05, 5.40e+04, 5.62e+05,
       8.47e+05, 9.57e+05, 6.88e+05, 8.11e+05, 2.70e+05, 4.80e+04,
       3.29e+05, 5.23e+05, 9.21e+05, 8.74e+05, 9.81e+05, 7.84e+05,
       2.80e+05, 2.40e+04, 5.18e+05, 7.54e+05, 8.92e+05, 1.54e+05,
       8.60e+05, 3.64e+05, 3.87e+05, 6.26e+05, 1.61e+05, 8.79e+05,
       3.90e+04, 9.70e+05, 1.70e+05, 1.41e+05, 1.60e+05, 1.44e+05,
       1.43e+05, 1.90e+05, 3.76e+05, 1.93e+05, 2.46e+05, 7.30e+04,
       6.58e+05, 9.92e+05, 2.53e+05, 4.20e+05, 4.04e+05, 4.70e+05,
       2.26e+05, 2.40e+05, 8.90e+04, 2.34e+05, 2.57e+05, 8.61e+05,
       4.67e+05, 1.57e+05, 4.40e+04, 6.76e+05, 6.70e+04, 5.52e+05,
       8.85e+05, 1.02e+06, 5.82e+05, 6.19e+05])

In [48]:
cdf = pd.read_csv('clean_googleplaystoremaster.csv')
cdf

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000.0,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000.0,Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000.0,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,Sya9a Maroc - FR,FAMILY,4.5,38,53000000.0,5000.0,Free,0.0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10353,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3600000.0,100.0,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9500000.0,1000.0,Free,0.0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10355,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,1000.0,Free,0.0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10356,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19000000.0,10000000.0,Free,0.0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device